{% extends 'base.html.twig' %}

{% block title %}
    {{ 'app_title'|trans }}
{% endblock %}

{% block body %}
    <div id="tekst">
        <article id="tekst">
            <h1>Zadawaj pytania i szukaj odpowiedzi!</h1>
            <br>

        </article>
    </div>
{% endblock %}